.footer {
  padding: 100px 0 250px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer__contain {
  display: flex;
  flex-direction: row;
  margin: 0;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

.footer__stone {
  background-image: url(../../images/spb4.svg);
  position: absolute;
  background-size: contain;
  width: 70%;
  height: 77%;
  bottom: -15px;
  right: -400px;
  background-repeat: no-repeat;
  background-color: transparent;
  z-index: -1;
}

.footer__text {
  font-size: 20px;
  margin: 0;
}

.footer__names {
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 400px;
  align-items: flex-start;
  text-shadow: -.1px 0 black;
  width: 100%;
}

.footer__name {
  font-family: "rosamarena", "Arial", sans-serif;
  font-size: 70px;
  line-height: 1.2;
  margin: 0;
}

.footer__name-end {
  align-self: flex-end;
}

@media screen and (max-width: 2399px) {
  .footer__stone {
    width: 65%;
    height: 74%;
    bottom: -15px;
    right: -120px;
  }
}

@media screen and (max-width: 1700px) {
  .footer {
    padding: 50px 0 180px;
  }

  .footer__text {
    font-size: 18px;
  }

  .footer__names {
    max-width: 350px;
  }

  .footer__name {
    font-size: 60px;
  }

  .footer__stone {
    width: 55%;
    height: 75%;
    bottom: -5px;
    right: -40px;
  }
}

@media screen and (max-width: 1400px) {
  .footer {
    padding: 50px 0 290px;
  }

  .footer__stone {
    width: 65%;
    height: 60%;
    bottom: -5px;
    right: 0;
  }
}

@media screen and (max-width: 1300px) {
  .footer {
    padding: 50px 0 270px;
  }

  .footer__text {
    font-size: 14px;
  }

  .footer__names {
    max-width: 300px;
  }

  .footer__name {
    font-size: 50px;
    line-height: 1.2;
  }

  .footer__stone {
    width: 60%;
    height: 60%;
    bottom: -5px;
    right: 0;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    padding: 50px 0 220px;
  }

  .footer__stone {
    width: 65%;
    height: 65%;
    bottom: -5px;
    right: 0;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 50px 0 230px;
  }

  .footer__stone {
    width: 75%;
    height: 70%;
    bottom: -25px;
    right: 0;
  }
}

@media screen and (max-width: 900px) {
  .footer__stone {
    height: 65%;
  }
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 40px 0 180px;
  }

  .footer__names {
    margin-top: 15px;
    max-width: 250px;
  }

  .footer__name {
    font-size: 40px;
    line-height: 1.2;
    margin: 0;
  }

  .footer__name-end {
    align-self: flex-end;
  }

  .footer__stone {
    width: 70%;
    height: 65%;
    bottom: -15px;
    right: 0;
  }
}

@media screen and (max-width: 700px) {
  .footer {
    padding: 40px 25px 170px;
    box-sizing: border-box;
  }

  .footer__stone {
    width: 550px;
    height: 180px;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    padding: 40px 25px 110px;
    box-sizing: border-box;
  }

  .footer__contain {
    flex-direction: column;
    gap: 5px;
  }

  .footer__stone {
    width: 330px;
    height: 120px;
    bottom: -5px;
    right: 0;
  }
}

